# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.lab1Framework.iml
# Datasource local storage ignored files
/../../../../../../../:\Codes\.NET Framework\lab1Framework\.idea\.idea.lab1Framework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
